#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure -- PREFIX=/opt/sialan/limoo/ BUILD_MODE=opt BUILD_TYPE=pro

override_dh_install:
	dh_install
	mkdir -p debian/limoo/usr/bin
	ln -s /opt/sialan/limoo/Limoo debian/limoo/usr/bin/limoo

override_dh_clean:
	dh_clean
